
.lg-font-size {
    font-size: 2rem;
}

.main-image-wrapper {
    width: 100%;
    height: auto;
}

.main-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 4rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 4rem;
    border-bottom-left-radius: 1rem;
}