:root {
  --blue-dark: #3a4d7c;
  --blue-dark-light: #4a6097;
  --blue: #1a8aae;
  --light-blue: #1094c0;
  --dark-gray: #a8a7a7;
  --gray: #cecece;
  --light-gray: rgb(250, 245, 242);
  --white: #fdfcfc;
  --ciel: #c1d0e1;
  --green: rgb(117, 216, 117);
  --green-light: rgb(173, 220, 173);
  --full-green-light: #cbedd6;
  --red: rgb(255, 98, 98);
  --light-red: #f2a9a9;
  --full-light-red: #f9d4d4;
  --orange: rgb(220, 173, 53);
  --light-orange: rgb(245, 195, 69);
}

.lg-font-size {
    font-size: 2rem;
}

.main-image-wrapper {
    width: 100%;
    height: auto;
}

.main-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 4rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 4rem;
    border-bottom-left-radius: 1rem;
}

.account-span {
    font-size: 1.2rem;
}

.account-span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.custom-dropdown-toggle {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
