:root {
  --blue-dark: #3a4d7c;
  --blue-dark-light: #4a6097;
  --blue: #1a8aae;
  --primary-blue: #0d6efd;
  --light-blue: #1094c0;
  --main-gray: oklch(98.5% .002 247.839);
  --dark-gray: #a8a7a7;
  --gray: oklch(44.6% .03 256.802);
  --light-gray: rgb(218, 218, 218);
  --white: #ffffff;
  --ciel: #c1d0e1;
  --green: rgb(117, 216, 117);
  --green-light: rgb(173, 220, 173);
  --full-green-light: #cbedd6;
  --red: rgb(255, 98, 98);
  --light-red: #f2a9a9;
  --full-light-red: #f9d4d4;
  --orange: rgb(220, 173, 53);
  --light-orange: rgb(245, 195, 69);
}

/*--------------- sizes ---------------*/

.sm-font-size {
  font-size: 0.95rem;
}

.md-font-size {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.lg-font-size {
    font-size: 3rem;
    line-height: 3rem;
}

/*--------------- colors-classes ---------------*/
.gray {
  color: var(--gray);
}

/*--------------- fonts ---------------*/
.font-italic {
  font-style: italic;
}

.main-image-wrapper {
    width: 100%;
    height: auto;
}

.main-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 4rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 4rem;
    border-bottom-left-radius: 1rem;
}

.brand {
  cursor: pointer;
}

.account-span {
  font-size: 1.2rem;
  color: var(--dark-gray);
}

.account-span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.custom-dropdown-toggle {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.dropdown-menu[data-bs-popper] {
  left: -110px !important;
}

.rdt_Table {
  height: 30rem !important;
}

@media (max-width: 576px) {
  .custom-w {
    width: 90%;
  }

  .mobile-logo {
    height: 80px !important;
    width: 160px !important;
  }
}